<div class="flex items-center">
    <div class="flex flex-[2] flex-col gap-5">
        <h1 class="text-pretty text-6xl"><strong>Tic Tac Toe</strong>, simple, but great!</h1>
        <span>
            <a
                routerLink="/game"
                class="rounded bg-rose-400 p-2 text-lg text-rose-100 transition-transform hover:scale-110 focus:scale-100 active:scale-95"
            >
                Play Now!
            </a>
        </span>
    </div>

    <div
        class="bg- aspect-[1/1.5] flex-1 bg-gray-600 bg-[url('/tic-tac-toe\_tile.png')] bg-repeat"
        style="background-size: 10rem"
    ></div>
</div>
